<div class="list-suggestion-container">
  <h1 class="page-title">Liste des suggestions</h1>

  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Rechercher une suggestion"
  />
  </div>

  <div class="suggestions-list">
    <div class="suggestion-card">
      <div class="card-header">
        <h2 class="suggestion-title">Suggestion title</h2>
      </div>

      <div class="card-meta">
        <span class="category">Suggestion categorie</span>
        <span class="date">date</span>
      </div>

      <p class="suggestion-description">description</p>

      <div class="card-footer">
        <span> statut
        </span>

        <div  class="action-buttons">
          <button class="btn-like">
            <span class="icon">👍</span>
           nb likes
          </button>
          <button class="btn-favorite">
            <span class="icon">❤️</span>
            Ajouter aux favoris
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

